<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.szfp.szfp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 解锁屏幕 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- BlueTooth -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".SzfpApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/FullscreenTheme"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".view.activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".view.activity.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.WelcomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.IndustryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.TransportActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.VehiclesActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.CommuterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.StaticFareActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.DynamicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.ReverseActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.CommuterAccountActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.BankingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.BankRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.BankCustomerRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.MemberInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.StudentManagementActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.RegisterStudentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.DeviceListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.TransportFullReportActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.TransportStaticFareActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.TransportChargeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.TransportAllReportsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.TransportSelectActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.TransportCashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.BankCashDepositActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.BankStatementActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.StudentGatePassActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.StudentRegisterStaffActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.StudentWillActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.StudentStaffWillActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.AgricultureActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.AgricultureHumanActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.AgricultureFarmerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.AgricultureDailyCompanyActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.AgricultureDailyCollectionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.AgriculturePaymentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.AgricultureReportActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.AgricultureRegisterEmployeeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.AgricultureRegisterFarmerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.AgricultureReportEmployeeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.AgricultureReportFramerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.ParkingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.ParkingPayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.ParkingRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.ParkingTopUpActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.ParkingVehicleStatusActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.ParkingSettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.ParkingParkActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.ParkingLeaveActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.ParkingBuyParkingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.BankDepositActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".view.activity.BankWithdrawalActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity android:name=".view.activity.StudentClassAttendanceActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"
                  android:screenOrientation="landscape"
                  android:theme="@style/FullscreenTheme"
                  android:windowSoftInputMode="stateHidden|stateUnchanged" />
    </application>

</manifest>